
/* *--------Base Styles-------- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
select {
  background-color: lightblue;
}

header {
  text-align: center;
  justify-content: center;
  height: 75px;
}

.newsletters,
.sign_up,
.format,
.title,
button,
p,
h1,
footer {
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;
}

h1,
legend {
  font-size: 1.5em;
  font-weight: bolder;
  margin: 0;
}

legend {
  padding: 25px 0;
}

h2 {
  margin: 0;
  font-weight: 900;
}

/* *--------Main Styles-------- */

.title {
  justify-content: center;
  max-width: 90%;
  text-align: center;
  padding-top: 15px;
  border-bottom: 5px solid #2D3A45;
  margin: auto;
}

.title p {
  margin: 0;
  padding: 16px 8px 42px;
  font-weight: lighter;
  color: rgb(129, 123, 123);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.main-header {
  background-color: #2D3A45;
  color: white;
}

.form {
  display: flex;
  align-items: flex-start;
  max-width: 90%;
  margin: 2px auto;
  border-top: 2px solid #2D3A45;
}

.sign_up,
.newsletter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 0;
  width: 90%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

.sign_up {
  border-bottom: 2px solid #2D3A45;
}


input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 1em;
  height: auto;
  margin: 10px 0;
  outline: 0;
  padding: 15px;
  width: 100%;
  max-width: 400px;
  background-color: #e9eff0;
  color: #8f989e;
  box-shadow: 2px 2px 0 rgba(0,0,0,0.03) inset;
  border-radius: 6px;
}

label {
  font-weight: lighter;
  color: rgb(129, 123, 123);
  padding: 8px 0;
}


::placeholder {
  font-style: italic;
  font-size: .8em;
  font-weight: 300;
  text-align: right;
  color: rgb(190, 188, 188);
}

#zip  {
  max-width: 30%;
  margin-bottom: 30px;
}

.format {
  margin-bottom: 35px;
}

textarea {
  height: 75px;
  width: 100%;
}

button {
  font-size: 1.2em;
  text-align: center;
  font-weight: bolder;
  color: white;
  width: 100%;
  height: 65px;
  margin: 20px 0;
  background-color: #4DBBB5;
  border-radius: 6px;
}

footer {
  font-style: italic;
  font-size: .8em;
  color: rgb(190, 188, 188);
  padding: 15px 0 60px 0;
}

.item {
  display: flex;
  flex-direction: column;
  margin: 0;
}

/* *--------Media Queries-------- */


@media screen and (min-width: 768px) {

  .title,
  .form {
    max-width: 650px;
  }


  .title {
    padding-top: 50px;
  }

  .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
  }

  #zip {
    max-width: 90px;
  }

  .item label {
    width: 25%;
    margin: 0;

  }

  .item input,
  select {
    width: 75%;
  }

  #state {
    min-width: 73.5%;
  }

  .sign_up {
    padding-bottom: 40px;
  }

  textarea {
    min-width: 100%;
    margin: 20px 0;
    padding: 20px;
  }


}
